.tab-item {
  display: block;
  padding: 5px;
  margin-top: 5px;
  background-color: #fff;
  text-decoration: none;
  /* Removes the underline from links */
  color: #000;
  /* Sets text color */
  border: 1px solid #ddd;
  word-break: break-all;
}

.tab-item a {
  display: block;
  color: #0000EE;
  /* Standard link color */
  text-decoration: underline;
  /* Standard link decoration */
  margin-top: 2px;
  /* Some space between the title and the URL */
}

#scrollUp {
  position: fixed;
  top: 10px;
  /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf4f7d;
  color: black;
  border: none;
  padding: 10px 20px;
  font-weight: bolder;
  /* Adjust padding to make it look like an arrow */
  cursor: pointer;
  z-index: 1000;
  max-width: 50px;
  /* Ensure it's above other content */
}

#scrollDown {
  position: fixed;
  bottom: 10px;
  /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf4f7e;
  color: black;
  font-weight: bolder;
  border: none;
  padding: 10px 20px;
  /* Adjust padding to make it look like an arrow */
  cursor: pointer;
  z-index: 1000;
  max-width: 50px;
  /* Ensure it's above other content */
}

#scrollUp {
  right: 20px;
  /* Position from the right for up button */
}

#scrollDown {
  right: 50px;
  /* Position from the right for down button */
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  /* Enable scrolling if needed */
  /* Set this to the largest width you want to attempt */
}

body {
  width: 99vw;
}

html {
  width: 780px;
}

/* General body styling */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #f7f7f7;
  color: #333;
  display: flex;
  flex-direction: column;
  /* Make body flex container */
  justify-content: left;
  /* Center the content */
}

/* Header styling */
h1,
h2 {
  font-size: 18px;
  color: #333;
  width: 100%;
  /* Full width to align center */
}

/* Cluster display styling */
#clusters {
  margin-top: 10px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  overflow-y: auto;
  /* Allow the div to scroll */
  width: 100%;
  /* Use a percentage for responsive width */
}

.cluster-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

.cluster-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.tabs-container {
  display: flex;
  flex-direction: column;
}

.tab-item {
  padding: 5px;
  border: 1px solid #ddd;
  margin-top: 5px;
  background-color: #fff;
  word-break: break-all;
  /* Ensure long URLs do not overflow */
}

/* Adjust button styling if necessary */

@media (max-width: 400px) {

  /* For very small widths, adjust padding or other properties */
  #clusters {
    width: 100%;
    padding-top: 5px;
  }

  body {
    padding: 5px;
  }
}

/* Button styling */
button {
  background-color: #4caf4f81;
  /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  /* Adjust padding as necessary */
  text-align: center;
  text-decoration: none;
  display: block;
  /* Make button a block element */
  margin-bottom: 10px;
  /* Margin at the bottom */
  font-weight: bolder;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1em;
  /* Set font size */
}

/* This will make your button only as wide as its content, up to 100px */
#saveButton {
  width: auto;
  max-width: 200px;
}

button:hover {
  background-color: #45a0497a;
}

@media (max-width: 400px) {

  /* For very small widths, adjust padding or other properties */
  #clusters {
    width: 100%;
    padding-top: 5px;
  }

  body {
    padding: 5px;
  }
}
